<div id="<%= dom_id book %>">

  <div class="row">

    <div class="col-md-4">
      <% if book.file.attached? %> 
        <%= image_tag(book.file, class:"book-show") %>
      <% else %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h2>
        <strong><%= book.title %></strong>
      </h2>

      <h3>
        <strong><%= book.author %></strong>
      </h3>

      <h4>
        Category: 
        <strong>
            <% if book.category_id == 1 %>
            Action and Adventure
            <% elsif book.category_id == 2 %>
            Clasics
            <% elsif book.category_id == 3 %>
            Comic Book or Graphic Novel
            <% elsif book.category_id == 4 %>
            Detective and Mystery
            <% elsif book.category_id == 5 %>
            Fantasy
            <% elsif book.category_id == 6 %>
            Fiction
            <% elsif book.category_id == 7 %>
            Horror
            <% elsif book.category_id == 8 %>
            Romance
            <% elsif book.category_id == 9 %>
            Science Fiction (Sci-Fi)
            <% elsif book.category_id == 10 %>
            Short Stories
            <% elsif book.category_id == 11 %>
            Suspense and Thrillers
            <% elsif book.category_id == 12 %>
            Biographies and Auto-Biographies
            <% elsif book.category_id == 13 %>
            Cookbooks
            <% elsif book.category_id == 14 %>
            Essays
            <% elsif book.category_id == 15 %>
            History
            <% elsif book.category_id == 16 %>
            Peotry
            <% elsif book.category_id == 17 %>
            Self-Help
            <% elsif book.category_id == 18 %>
            Technology
            <% end %>
        </strong>
    </h4>

      <p>
        <strong>Description: </strong>
        <%= book.description %>
      </p>

      <%= render @book.reviews %>
    </div>

    <div class="col-md-4">

      <div>
        <%= link_to "Add Review", new_book_review_path(@book) %>
      </div>

    </div>
    
  </div>

</div>
